@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";




body {
  font-family: 'Press Start 2P', cursive;
  background-color: #335c67; /* Dark Teal */
  color: #fff3b0; /* Light Text */
  /* Create a subtle retro pixel grid background */
  background-image: 
    linear-gradient(#2a4d56 2px, transparent 2px),
    linear-gradient(90deg, #2a4d56 2px, transparent 2px);
  background-size: 32px 32px;
  background-position: center center;
}

/* Chunky Retro Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #540b0e; 
  border-left: 4px solid black;
}
::-webkit-scrollbar-thumb {
  background: #e09f3e; 
  border: 4px solid black;
}
::-webkit-scrollbar-thumb:active {
  background: #9e2a2b;
}



@theme {
  --color-ludoRed: #EF4444;
  --color-ludoBlue: #3B82F6;
  --color-ludoGreen: #22C55E;
  --color-ludoYellow: #FBBF24;
  --color-ludoBg: #F8FAFC;
  --color-ludoDark: #1E293B;

  --font-sans: "Inter", system-ui, sans-serif;
}